.footer-container {
    color: white;
    width: 100%;
    display: flex;
    background: linear-gradient(180deg, #6C7971, #28444B 80%);
    border-radius: 10px;
    font-size: 16px;
}

.footer-sub-1 {
    padding-top: 1rem;
    padding-left: 4rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    width: 50%;
}

.footer-sub-2 {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-right: 4rem;
    width: 50%;
}

@media screen and (max-width: 768px) {
    .dummy {
        display: none;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-sub-1 {
        width: 100%;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-bottom: 0.5rem;
        padding-right: 1rem;
    }

    .footer-sub-2 {
        width: 100%;
        padding-top: 0.5rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
        padding-right: 1rem;
    }
}